<a href="https://colab.research.google.com/github/wed0rex/Learn.Py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
print("\nboolean mask where value is nan:\n",df1.isnull())
print("\nRemoving the row with missing data:\n",df1.dropna())

                   A         B         C         D   F    E
2021-01-01  0.842331 -1.510987 -2.079453  0.897955 NaN  1.0
2021-01-02  0.703128  0.176521  1.503493  1.267496 NaN  1.0
2021-01-03  0.307037  0.119933  0.003517 -0.117543 NaN  NaN
2021-01-04 -1.537807  0.209153 -0.487000  0.449701 NaN  NaN

boolean mask where value is nan:
                 A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

Removing the row with missing data:
 Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [3]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
print("\nFilling the missing data with 20:\n",df1.fillna(value = 20))

                   A         B         C         D   F    E
2021-01-01  0.930163 -1.075342 -0.132741  0.434319 NaN  1.0
2021-01-02 -0.697175 -2.781069  0.532844  0.027044 NaN  1.0
2021-01-03  0.618649 -2.085076  0.612294  0.896120 NaN  NaN
2021-01-04  1.110680 -1.966256  0.873944  1.604654 NaN  NaN

Filling the missing data with 20:
                    A         B         C         D     F     E
2021-01-01  0.930163 -1.075342 -0.132741  0.434319  20.0   1.0
2021-01-02 -0.697175 -2.781069  0.532844  0.027044  20.0   1.0
2021-01-03  0.618649 -2.085076  0.612294  0.896120  20.0  20.0
2021-01-04  1.110680 -1.966256  0.873944  1.604654  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
pieces = [df[:3],df[3:8]]
print("\nPieces of data from 0 to 2 ,3 to 7:\n",pieces[0],"\n",pieces[1])
print("\nConcatenated pieces:\n",pd.concat(pieces))
print("\nconcatenate the pieces along axis 1:\n",pd.concat(pieces, axis = 1))
a = pieces[0]
b = pieces[1]
print("\nConcatination of a and b:\n",pd.concat([a,b]))

          0         1         2         3
0 -0.447737  0.921075 -1.582124 -0.387032
1  0.664787  0.831578  0.704488  0.990189
2  2.060125 -1.384360  0.731377 -0.723388
3 -1.770092  0.967463 -1.681757 -1.422364
4  0.718231  1.566334  0.523819  1.015341
5  0.071373 -0.521403 -0.314387 -0.127148
6  0.874322 -0.056599  0.407097  0.456451
7 -0.546561 -0.028238 -1.403669  1.829995
8  0.215596 -0.015726 -1.342276  1.384266
9  0.479179 -0.566264 -0.963254  0.145454

Pieces of data from 0 to 2 ,3 to 7:
           0         1         2         3
0 -0.447737  0.921075 -1.582124 -0.387032
1  0.664787  0.831578  0.704488  0.990189
2  2.060125 -1.384360  0.731377 -0.723388
           0         1         2         3
3 -1.770092  0.967463 -1.681757 -1.422364
4  0.718231  1.566334  0.523819  1.015341
5  0.071373 -0.521403 -0.314387 -0.127148
6  0.874322 -0.056599  0.407097  0.456451
7 -0.546561 -0.028238 -1.403669  1.829995

Concatenated pieces:
           0         1         2         3
0 -0.447737  0.921075 -1.582124 -0.387032
1  0.664787  0.831578  0.704488  0.990189
2  2.060125 -1.384360  0.731377 -0.723388
3 -1.770092  0.967463 -1.681757 -1.422364
4  0.718231  1.566334  0.523819  1.015341
5  0.071373 -0.521403 -0.314387 -0.127148
6  0.874322 -0.056599  0.407097  0.456451
7 -0.546561 -0.028238 -1.403669  1.829995

concatenate the pieces along axis 1:
           0         1         2  ...         1         2         3
0 -0.447737  0.921075 -1.582124  ...       NaN       NaN       NaN
1  0.664787  0.831578  0.704488  ...       NaN       NaN       NaN
2  2.060125 -1.384360  0.731377  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.967463 -1.681757 -1.422364
4       NaN       NaN       NaN  ...  1.566334  0.523819  1.015341
5       NaN       NaN       NaN  ... -0.521403 -0.314387 -0.127148
6       NaN       NaN       NaN  ... -0.056599  0.407097  0.456451
7       NaN       NaN       NaN  ... -0.028238 -1.403669  1.829995

[8 rows x 8 columns]

Concatination of a and b:
           0         1         2         3
0 -0.447737  0.921075 -1.582124 -0.387032
1  0.664787  0.831578  0.704488  0.990189
2  2.060125 -1.384360  0.731377 -0.723388
3 -1.770092  0.967463 -1.681757 -1.422364
4  0.718231  1.566334  0.523819  1.015341
5  0.071373 -0.521403 -0.314387 -0.127148
6  0.874322 -0.056599  0.407097  0.456451
7 -0.546561 -0.028238 -1.403669  1.829995